body{
    background-image: url(pokemon-imagen.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', ;
    color: #ffffff;
}
.container{
    align-content: center;
}
h2{
    text-align: center;
    color:#ffffff;
    margin-top: 6rem;
    margin-bottom: 0;
}
.form-title{
    color: #ffffff;
    text-align: center;
}
.form-control{
    text-align: center;
}
.section__button{
    left:15rem;
}
input{
    margin-top: 1rem;
}

.button{
    margin-top: 1rem;
    margin-left: 40.5rem;
}